*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
}



.display{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    color: white;
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;    
}